<% 24.times do |i| block_time = Time.parse("#{i}:00") %>
  <div class="cell hour-wrapper">
    <div data-time="<%= block_time.strftime('%H:%M') %>">&nbsp;</div>
    <div data-time="<%= (block_time + 30.minutes).strftime('%H:%M') %>">&nbsp;</div>
  </div>
<% end %>
